img {
	width: 100%;
}

#logo {
	width: 15%;
}

body {
	background-color: #4e1864;
}

nav {
	background-color: #a45dc2;
	display: block;
	font-family: "Allura";
	font-size: 1.5rem;
	color: black;

}

div.services-odd {
	background-color: #118912; /* green */
}

div.services-even {
	background-color: #8527ad; /* purple */
}

#appointment, #location {
	color: white;
}

div.card {
	background-color: #118912;
}

button {
	background-color: #a45dc2;
}

h1 {
	font-family: "Allura";
	color: white;
	font-size: 5rem;
}

h2 {
	background-color: #a45dc2;
	display: block;
	font-family: "Allura";
	font-size: 3rem;
	color: black;
}

h3, h4 {
	font-size: 2rem;
	font-family: "Allura";
}

footer {
	color: #118912;
}

.error {
	color:red;
}

.showInput {
	background-color: black;
}

.form-control:hover {
	background-color: #bbb;
}